In [ ]:
# Monisha Sadhwani
# mssadhwani9@gmail.com
# https://www.linkedin.com/in/monisha-sadhwani-419435105/

### Arithmetic Operations

In [ ]:
# Python basics - Multiple number operations
3+4  # Add

7

In [ ]:
3*4  # Multi

12

In [ ]:
3-4  # Sub

-1

In [ ]:
3/4  # Division

0.75

In [ ]:
3**4  # Exponent

81

In [ ]:
3%4  # Reminder - Modulus

3

In [ ]:
3//4  # Quo - Floor division

0

### Comparison Operations

In [ ]:
cgpa = 8   #

In [ ]:
cgpa == 10   # Given value is equal to 10

False

In [ ]:
cgpa >= 8    # Given value is greater than 8

True

In [ ]:
cgpa < 7

False

### Assignment operations

In [ ]:
variable = "anything"   # Assign a string

In [ ]:
variable

'anything'

In [ ]:
variable = 68   # Assign a numerical number

In [ ]:
variable

68

In [ ]:
variable += 2    # variable = variable + 2
variable

70

In [ ]:
variable -=5     # variable = variable - 5
variable

65

In [ ]:
variable *= 2    # variable = variable * 2
variable

130

In [ ]:
variable /= 3   # variable = variable/3
variable

43.333333333333336

In [ ]:
variable //= 2   # variable = variable/2 (Quo)
variable

21.0

In [ ]:
variable %= 2   # variable = variable % 2 (Remin)
variable

1.0

In [ ]:
variable **= 3   # variable = variable**2 (Exponents)
variable

1.0

### Logical Operations

In [ ]:
age = 26
income = 150000

In [ ]:
(age > 18) and (age < 70)   # AND (&): Both condition should get satisfy

True

In [ ]:
(age < 18) or (income > 5000)   # OR (|): Atleast one condition should get satisfy

True

In [ ]:
not age > 18     # NOT : Opposite of given condition

False

### Text Type

In [ ]:
 # Data types
 # 1. Text Type (string)
 name = "123"

In [ ]:
name

'123'

In [ ]:
type(name)   # Text Type (string)

str

### Numeric Type

In [ ]:
# 2. Numeric Type (int, float) 
num_1 = 10  # int -> float
num_2 = 13.3  # float -> int
str_x = "57.8"  # str -> float -> int

In [ ]:
type(num_1), type(num_2), type(str_x)    # check data type of each variable

(int, float, str)

In [ ]:
float(num_1)   # Converts int to float

10.0

In [ ]:
int(num_2)     # Converts float to integer

13

In [ ]:
str_x

'57.8'

In [ ]:
# Convert numerical string to float
float(str_x)

57.8

In [ ]:
# Covert string to int
int(float(str_x))

57

### List - Stores items which can be used with help of index or loop

In [ ]:
list_of_names = ["Hir", "Jai", "Rahul", "Rachel!"]

In [ ]:
type(list_of_names)

list

In [ ]:
list_of_names

['Hir', 'Jai', 'Rahul', 'Rachel!']

In [ ]:
# Python index always start with 0
list_of_names[0]

'Hir'

In [ ]:
# index 1: Position is 2nd
list_of_names[1]

'Jai'

In [ ]:
# Last number: Negative sign starts numbering from last 
list_of_names[-1]

'Rachel!'

In [ ]:
# All values upto 2nd index (excluding)
list_of_names[:2]

['Hir', 'Jai']

In [ ]:
# All values after 2nd index (including)
list_of_names[2:]

['Rahul', 'Rachel!']

In [ ]:
# Add more names or list
list_of_names + ["Piyu", "Magda"]

['Hir', 'Jai', 'Rahul', 'Rachel!', 'Piyu', 'Magda']

In [ ]:
# Number of elements in list
len(list_of_names)

4

In [ ]:
# Add more names or list (Concatenation of list)
list_of_names = list_of_names + ["Piyu", "Magda"]   
len(list_of_names)

6

In [ ]:
"Jai" in list_of_names   # Check within list using "in" operator

True

In [ ]:
"Jay" in list_of_names

False

In [ ]:
# Get list starting from index 1 to 4
list_of_names[1:5]

['Jai', 'Rahul', 'Rachel!', 'Piyu']

In [ ]:
# Replace value using position
list_of_names[2] = "Monisha"   # New list with changes
list_of_names

['Hir', 'Jai', 'Monisha', 'Rachel!', 'Piyu', 'Magda']

In [ ]:
 #  Sort list in alphabetical order
sorted(list_of_names, reverse=True)

['Rachel!', 'Piyu', 'Monisha', 'Magda', 'Jai', 'Hir']

In [ ]:
# list of numbers
list_of_numbers = [3, 7, 1, 0, 15, 71, 99, 31, 45, 93, 77, 39, 63, 51, 7]

In [ ]:
# Min value in list
youngest = min(list_of_numbers)
print ("Age of youngest person: ", youngest)

Age of youngest person:  0

In [ ]:
# max value in list
oldest = max(list_of_numbers)
print ("Age of oldest person: ", oldest)

Age of oldest person:  99

In [ ]:
# Summation of numbers
sum(list_of_numbers)

588

### Tuple - Similar to list, but items can't be modified

In [ ]:
tuples = ("abc", "123", "xyz")

In [ ]:
type(tuples)

tuple

In [ ]:
tuples   # No change can be done

('abc', '123', 'xyz')

In [ ]:
"abc" in tuples

True

In [ ]:
# First & Last value 
tuples[0] , tuples[-1]

('abc', 'xyz')

In [ ]:
tuples[1:2]

('123',)

All similar to what was done with list but cant be modified !

In [ ]:
tuples[0] = "Harsh"

TypeError: ignored

Then what is the need?
- Program execution is fast
- Sometimes data is not supposed to be modified: tuple guards accidently modification

### Range

In [ ]:
range_nums = range(0, 10)  # Includes first number, but excludes last number
print (range_nums)

range(0, 10)

In [ ]:
for i in range_nums:
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
range(1,10,3)  # Generates numbers with given space - range(start, stop, step)

range(1, 10, 3)

In [ ]:
for i in range(1,10,2):
  print (i) # with space

1
3
5
7
9

In [ ]:
for i in range(10, -6, -2):   # Includes first number, but excludes last number
    print(i, end = " ")

10 8 6 4 2 0 -2 -4

### Dictionary

**Similar to list:**
- Mutable
- Dynamic 
- Nested

**Differences:**
- List can be accessed by index, dict are accessed via keys

In [ ]:
dict_sample = {
  "Company": "Walmart",
  "Brand": "Cadbury",
  "Product": "Nuts",
  "Year": 2020
}

In [ ]:
type(dict_sample)

In [ ]:
dict_sample[1]  # cant be accessed by index

In [ ]:
dict_sample["Brand"]  # Accessing using values

In [ ]:
dict_sample.items()   # All key-value pair

In [ ]:
dict_sample.keys()    # All keys

In [ ]:
dict_sample.values()  # All pairs

In [ ]:
dict_sample["Category"] = "Chocolate"  # Add new key-value in dictionary

In [ ]:
dict_sample

In [ ]:
dict_sample["Year"] = 2021  # Replace value in dictionary
dict_sample

Restrictions in Dictionary:
- Key must appear only one (Duplicates are not allowed)

Set
- Set uses {}
- List ised []

In [ ]:
companies_2019 = {"Walmart", "Mars", "Mondelez", "Apple", "P&G", "Target", "Zomato"}
companies_2020 = {"Netflix", "Apple", "Mars", "Zomato", "Hotstar"}

In [ ]:
# whom we lost
# who are our new customers
# who are our loyal customers

In [ ]:
lost_customers = companies_2019 - companies_2020
lost_customers

In [ ]:
new_customers = companies_2020 - companies_2019
new_customers

In [ ]:
loyal_customers = companies_2019 & companies_2020
loyal_customers

## For loop

In [ ]:
list_of_names

In [ ]:
for nam in list_of_names:
  print ("My Team members: ", nam)

In [ ]:
print ("My team members:")
for nam in list_of_names:
  print (nam)

## While loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1   # i = i + 1

In [ ]:
temp = 80
while temp > 75:
  temp = temp - 1
  print (temp)

### If else

In [ ]:
marks = 82

In [ ]:
if marks > 90:
  print ("A")
else:
  print ("B")

In [ ]:
# Task
# If marks are > 90 then print A, if marks are > 75 but less than 90 then print B, else print C

In [ ]:
if marks > 90:
  print ("A")
elif 75 < marks < 90:
  print ("B")
else:
  print ("C")

In [ ]:
# Task
# Age < 18 : No Vaccine, Age >= 18 & Age <= 60: Eligible for vaccine, Age > 60 Needs to be ckecked by doctor

In [ ]:
age = 15

In [ ]:
if (age < 18): 
  print ("No vaccine")
elif age >= 18 and age <= 60:
  print ("Eligible for vaccine")
else:
  print ("Needs to be checked by Doctor")

### User Defined functions

- def function name():
-   operations to be done
-   return variable

Convert float number to integer using UDF

In [ ]:
def num_to_int(num):
  int_num = int(num)
  return int_num

In [ ]:
num_to_int(num = 7.67)

Task : Create a UDF to add 2 numbers and multiply it by 10

In [ ]:
def add_multi(n1 , n2):
  sum = n1  + n2
  final = sum * 10
  return final

In [ ]:
add_multi(n1 = 3, n2 = 4)

If unwanted inputs came up?

In [ ]:
add_multi(-t, 5)

In [ ]:
num_to_int("hjh")

### Error Handling
- Using try & except

In [ ]:
def num_to_int(num):
  try:
    int_num = int(num)
    return int_num
  except ValueError:
    print ("Check your input: ", num)

In [ ]:
num_to_int("vjdj")

### User Input

In [ ]:
name = input("What's your name: ")

In [ ]:
print ("Hello, " + name + "!")

In [ ]:
age = input("What's your age: ")

In [ ]:
age = int(age)
if (age < 18): 
  print ("Sorry, you can't take No vaccine")
elif age >= 18 and age <= 60:
  print ("Congo! You are eligible for vaccine")
else:
  print ("Hey!, you need to be checked by Doctor")